.example-container {
  width: 100%;
  height: 100%;
  background-image: url('../../../assets/img/bg.png');
}

.example-sidenav-content {
  height: 100%;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
  background-color: #E2231A;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.logo{
  max-width: 200px;
  padding: 10px;
  background-color: white;
  border-radius: 20px;
}

.image{
  width: 80%;
  margin: 0px auto;
  border-radius: 500px;
}

.textLogo{
  color: white;
  text-align: center;
}

.menuOption{
  background-color: white;
  margin-bottom: 20px;
  width: 100%;
  text-align: left;
}

.menuOptionSelected{
  background-color: #E2231A;
  color: white;
  border: 1px solid white;
}

.menuOption:hover{
  background-color: #94140e;
  color: white;
}

.example-sidenav-content{
  align-items: normal !important;
}

.toggleButton{
  position: absolute;
  top: 0;
  left: 0;
}

.nav-link:hover{
  cursor: pointer;
  background-color: #94140e;
}

.mat-drawer-inner-container{
  overflow-x:hidden !important
}