<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" [opened]="true" mode="side">
    <div class="row mb-5">
      <div class="col">
        <img src="../../../assets/img/Flowserve-Logo.jpg" alt="Flowserve logo" class="logo">
      </div>
    </div><!--
    <div class="row">
      <div class="col mb-4 mt-2 textLogo">
        <h4>TLAXCALA</h4>
      </div>
    </div> -->
    <div class="row mt-5">
      <div class="col" align="left">
        <button (click)="seleccionMenu('agenda')" class="btn menuOption">
          EVENTOS
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col" align="left">
        <button (click)="seleccionMenu('graficos')" class="btn menuOption">
          RESULTADOS
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col" align="left">
        <button (click)="seleccionMenu('empleados')" class="btn menuOption">
          COLABORADORES
        </button>
      </div>
    </div>
  </mat-drawer>

  <div class="example-sidenav-content">
    <ul class="nav justify-content-end" style="background-color: rgb(226, 35, 26); width: 100%; height: 45px;">
      <li class="nav-item">
        <button type="button" mat-button (click)="drawer.toggle()" class="toggleButton">
          <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="white" class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
          </svg>
        </button>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: white;">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
          </svg>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: white;" (click)="logOut()">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
            <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
          </svg>
        </a>
      </li>
    </ul>


    <div *ngIf="opcionMenu == 'agenda'">
      <agenda></agenda>
    </div>
    <div *ngIf="opcionMenu == 'graficos'">
      <graphics></graphics>
    </div>
    <div *ngIf="opcionMenu == 'empleados'">
      <empleados></empleados>
    </div>
  </div>

</mat-drawer-container>
