.container{
  padding-top: 30px;
}

.imageModal{
  width: 100%;
}

.tbl-container {
  width: 90%;
  margin-top: 10px;
  margin-left: 10px;
}

.bg-red {
  background-color: #232323;
  color: white;
}

.bdr {
  border-radius: 6px;
  overflow: hidden;
}

.busqueda{
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
  padding-top: 10px;
  width: 90%;
  margin: 0px auto;
}

.textBusqueda{
  margin-top: 20px;
}

.modal { background: rgba(000, 000, 000, 0.8); min-height:1000000px; }

.employeeCard{
  float:left; 
  width: 250px; 
  margin: 10px;
  height: 400px;
}

.employeeCard img{
  height: 90%;
  width: 90%;
  margin: 0px auto;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.situacionesRiesgosas{
  margin-bottom: 30px; 
  height: 400px; 
  overflow: scroll;
}